.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.photo {
  width: 26px;
  height: 26px;
  overflow: hidden;
  border-radius: 50%;
}

.large {
  width: 70px;
  height: 70px;
}

.largeText {
  font-size: 20px;
}
